<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<a th:href="@{/}">Домой</a>
<br>
<button th:attr="onclick=|showPostUpdateForm()|">Редактировать пост</button>
<br>

<h1 th:text="${post.title}"></h1>

<div th:if="${#strings.length(post.image) > 0}">
    <img th:src="@{'/images/' + ${post.image}}" alt="No image in static context" style="display: block; margin-left: auto; margin-right: auto; width: 10%;"/>
</div>
<br>

<div th:utext="${post.content}"></div>

<button th:attr="onclick=|like()|">Мне нравится</button>
<br>

<i class="fa fa-heart" style="font-size:24px;color:red" th:attr="id=like_counter" th:text="${post.likesCount}"></i>
<br>
<div>
    <b>Тэги: </b><i th:text="${post.tags}"></i>
</div>
<br>
<hr>
<br>
<button th:attr="onclick=|showPostDeleteForm()|">Удалить пост</button>
<br>

<div th:attr="id=post_delete_form" style="display: none;">
    <div>
        <h3><b>Вы уверены, что хотите безвозвратно удалить этот пост?</b></h3>
        <form method="POST" th:action="@{/post/{id}/delete(id=${post.id})}">
            <button><b>Да</b></button>
        </form>
        <br>
        <button th:attr="onclick=|hidePostDeleteForm()|">Нет</button>
    </div>
</div>


<div th:attr="id=post_update_form" style="display: none;">
    <div>
        <h3><b>Свойства поста</b></h3>
        <form method="POST" th:object="${post}" th:action="@{/post/{id}/update(id=${post.id})}">
            <label for="title"><b>Название: </b></label>
            <input type="text" th:field="*{title}" oninput="this.size=Math.max(this.value.length, 10)" required="true"/>
            <br>
            <br>
            <label for="content"><b>Содержимое: </b></label>
            <textarea type="text" th:field="*{content}" oninput="this.size=Math.max(this.value.length, 10)"/>
            <br>
            <label for="tags"><b>Тэги (перечисляйте через символ ';'): </b></label>
            <input type="text" th:field="*{tags}" oninput="this.size=Math.max(this.value.length, 10)"/>
            <br>
            <label for="image"><b>Изображение: </b></label>
            <input type="file" th:field="*{image}" accept="image/*" th:value="${post.image}">
            <br>
            <button><b>Сохранить изменения</b></button>
        </form>
        <br>
        <button th:attr="onclick=|hidePostUpdateForm()|">Отменить</button>
    </div>
</div>

<script>
    function showPostUpdateForm() {
        document.getElementById("post_update_form").style.display = 'block';
    }

    function hidePostUpdateForm() {
        document.getElementById("post_update_form").style.display = 'none';
    }

    function showPostDeleteForm() {
        document.getElementById("post_delete_form").style.display = 'block';
    }

    function hidePostDeleteForm() {
        document.getElementById("post_delete_form").style.display = 'none';
    }

    function like() {
        document.getElementById("like_counter").innerHTML = (+document.getElementById("like_counter").innerHTML) + (+1);
        var xhr = new XMLHttpRequest();
        xhr.open("PUT", window.location.href + "/like", true);
        xhr.send();
    }
</script>

</body>
</html>