<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset=utf-8>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<h1>Добро пожаловать на страницу моего личного блога!</h1>
<p>Пожалуйста, ознакомьтесь с моими постами</p>
<br>
<button th:attr="onclick=|showPostCreateForm()|">Добавить пост</button>
<br>

<div th:each="post : ${posts}" th:with="content_len=${#strings.length(post.content)}">
    <h3><a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}"></a></h3>
    <br>

    <div th:utext=" ( ${content_len > 120} ) ? ${#strings.substring(post.content,0,120)} + '…' : ${post.content}"></div>

    <div th:if="${#strings.length(post.image) > 0}">
        <img th:src="@{'images/' + ${post.image}}" alt="No image in static context"/>
    </div>
    <br>
    <div>
        <b>Тэги: </b><i th:text="${post.tags}"></i>
    </div>

    <i class="fa fa-heart" style="font-size:24px;color:red" th:text="${post.likesCount}"></i>
    <i class="fa fa-comments-o" style="font-size:24px" th:text="${#lists.size(post.comments)}"></i>
    <hr>
</div>
<br>
<br>

<form method="GET" th:action="@{/posts}">
    <label for="page-num"><b>Номер страницы</b></label>
    <input type="number" th:name="page-num" required="true" th:value="${currentPageNum}"/>
    <label for="page-size"><b>Размер страницы</b></label>
    <input type="number" th:name="page-size" required="true" th:value="${currentPageSize}" />
    <label for="tags"><b>Тэг</b></label>
    <input type="text" th:name="tags" th:value="${currentTags}"/>
    <br>
    <button>Обновить</button>
</form>
<br>
<br>

<div th:attr="id=post_create_form" style="display: none;">
    <div>
        <h3><b>Свойства поста</b></h3>
        <form method="POST" th:object="${new_post}" th:action="@{/post/create}">
            <label for="title"><b>Название: </b></label>
            <input type="text" th:field="*{title}" oninput="this.size=Math.max(this.value.length, 10)" required="true"/>
            <br>
            <br>
            <label for="content"><b>Содержимое: </b></label>
            <textarea type="text" th:field="*{content}" oninput="this.size=Math.max(this.value.length, 10)"/>
            <br>
            <label for="tags"><b>Тэги (перечисляйте через символ ';'): </b></label>
            <input type="text" th:field="*{tags}" oninput="this.size=Math.max(this.value.length, 10)"/>
            <br>
            <label for="image"><b>Изображение: </b></label>
            <input type="file" th:field="*{image}" accept="image/*">
            <br>
            <button><b>Создать</b></button>
        </form>
        <br>
        <button th:attr="onclick=|hidePostCreateForm()|">Отменить</button>
    </div>
</div>

<script>
    function showPostCreateForm() {
        document.getElementById("post_create_form").style.display = 'block';
    }

    function hidePostCreateForm() {
        document.getElementById("post_create_form").style.display = 'none';
    }
</script>

</body>
</html>